<% layout('layouts/boilerplate')%>
<div class="row">
    <h1 class="text-center">Edit Campground</h1>
    <div class="col-6 offset-3">
        <!-- Form for editing campground details -->
        <form action="/campgrounds/<%=campground._id%>?_method=PUT" method="POST" novalidate class="validated-form"
            enctype="multipart/form-data">
            <!-- Campground Title Input -->
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="campground[title]"
                    value="<%=campground.title %>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <!-- Campground Location Input -->
            <div class="mb-3">
                <label class="form-label" for="city">City</label>
                <input class="form-control" type="text" id="city" name="campground[city]"
                    value="<%=campground.city %>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="state">State</label>
                <input class="form-control" type="text" id="state" name="campground[state]"
                    value="<%=campground.state %>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <!-- Campground Price Input -->
            <div class="mb-3">
                <label class="form-label" for="price">Campground Price Per Night</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price"
                        aria-describedby="price-label" name="campground[price]" value="<%=campground.price %>"
                        required><div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
            </div>

            <!-- Campground Description Input -->
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="campground[description]"
                    required><%= campground.description%></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <!-- Display Existing Images with Delete Option -->
            <div class="mb-3">
                <% campground.images.forEach((img, i) => { %>
                <img src="<%= img.url %>" class="img-thumbnail" alt="">
                <div class="form-check-inline">
                    <input type="checkbox" name="deleteImages[]" value="<%= img.filename %>" id="image-<%= i %>">
                    <label for="image-<%= i %>">Delete?</label>
                </div>
                <% }) %>
            </div>
            <!-- Input for Adding New Images -->
            <div class="mb-3">
                <label for="image" class="form-label">Add Images</label>
                <input type="file" name="image" id="image" multiple>
            </div>
            <!-- Longitude and Latitude Inputs -->
            <% if (campground.geometry && campground.geometry.type && campground.geometry.coordinates) { %>
                <input type="hidden" name="campground[geometry][type]" value="<%= campground.geometry.type %>">
                <input type="hidden" name="campground[geometry][coordinates][]" value="<%= campground.geometry.coordinates[0] %>">
                <input type="hidden" name="campground[geometry][coordinates][]" value="<%= campground.geometry.coordinates[1] %>">
            <% } %>
            <!-- Submit Button -->
            <div class="mb-3">
                <button class="btn btn-info">Update Campground</button>
            </div>
        </form>
        <!-- Link to Go Back to Campground Details -->
        <a href="/campgrounds/<%= campground._id%>">Back To Campground</a>

    </div>
</div>