<% layout('layouts/boilerplate')%>
<!-- Container for the cluster map -->
<div id="cluster-map"></div>
<div class="container">
<h1>All Campgrounds</h1>

<!-- Loop through each campground -->
<% for (let campground of campgrounds){%>
<div class="card mb-3" >
    <div class="row">
        <!-- Campground image column -->
        <div class="col-md-4">
            <!-- Check if campground has images -->
            <%if(campground.images.length) {%>
            <img class="img-fluid" alt="<%= campground.images[0].description %>" src="<%=campground.images[0].url%>">
            <% }else {%>
            <!-- Default image if no images are available -->
            <img crossorigin="anonymous" class="img-fluid" alt="Default campground image"
                src="https://res.cloudinary.com/douqbebwk/image/upload/v1600103881/YelpCamp/lz8jjv2gyynjil7lswf4.png">
            <% } %>
        </div>
        <!-- Campground details column -->
        <div class="col-md-8">
            <div class="card-body">
                <!-- Campground title -->
                <h5 class="card-title"><%= campground.title %> </h5>
                <!-- Campground description -->
                <p class="card-text"><%= campground.description %></p>
                <!-- Campground location -->
                <p class="card-text">
                    <small class="text-muted"><%= campground.location%></small>
                </p>
                <!-- Link to view campground details -->
                <a class="btn btn-primary" href="/campgrounds/<%=campground._id%>">View <%=campground.title%></a>
            </div>
        </div>
    </div>
</div>
<% }%>
</div>

<!-- Script to set up map data -->
<script src='https://api.maptiler.com/maps/streets/style.json?key=<%= process.env.MAPTILER_API_KEY %>'></script>
<script src="https://cdn.maptiler.com/maptiler-sdk-js/latest/maptiler-sdk.umd.min.js"></script>
<link href="https://cdn.maptiler.com/maptiler-sdk-js/latest/maptiler-sdk.css" rel="stylesheet" />
<script>
    const mapTilerKey = '<%= mapTilerKey %>';
    const campgrounds = { features: <%- JSON.stringify(campgrounds.map(c => ({
        type: 'Feature',
        geometry: c.geometry,
        properties: {
            id: c._id,
            title: c.title,
            description: c.description,
            popUpMarkup: `<a href="/campgrounds/${c._id}">${c.title}</a>`
        }
    }))) %> };
</script>

<!-- Include the cluster map JavaScript file -->
<script src="/javascripts/clusterMap.js"></script>